<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>путешествия</title>
    <link rel="stylesheet" href="/css/styles.css">
    <img src="/img/logo.png" alt="">
</head>
<body>

    {{{body}}}

</body>
</html>