<div class="about">
    <h2>О нас</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur obcaecati doloremque itaque iste dignissimos unde, expedita rem accusantium beatae neque. Fugiat, magnam? Earum perspiciatis quaerat, amet adipisci voluptatum fugiat nesciunt?</p>
</div>